@media(max-width: 1350px){
  .intro-slider{
    .slick-prev{
      left: auto;
      right: 100px;
    }
  }

}

@media(max-width: 1150px){
  .footer-about{
    max-width: 80%;
  }
  .footer-top__inner{
    justify-content: space-around;
  }
  .social{
    justify-content: center;
    .social-item + .social-item{
      margin-left: 10px;
    }
  }
  .teachers__item {
    flex-basis: 50%;
    height: 400px;  
  }
  .course__inner{
    flex-wrap: wrap;
  }
  .course__item{
    max-width: 100%;
    flex-basis: 48%;
  }
}

@media(max-width: 1120px){
  .news__slider-inner{
    max-width: 350px;
    .slick-dots{
      top: auto;
      left: 0;
      justify-content: center;
    }
  }
  .accordion__panel{
    max-width: 100%;
  }
  .accordion{
    max-width: 100%;
    margin-right: 30px;
  }
}
@media(max-width: 1050px){
  .campus__inner{
    justify-content: space-around;
  }
  .campus__item{
    width: 100%;
    flex-basis: 40%;
  }
  .gallery__item{
    flex-basis: 47%;
    margin: 10px;
  }
  .about__inner{
    justify-content: space-around;
  }

  .about__item{
    max-width: 100%;
    flex-basis: 50%;
    padding: 0 20px;
  }
  
}

@media(max-width: 1020px){
  .film__frame{
    padding-top: 53px;
    iframe{
      width: 763px;
      height: 481px;
    }
  }
}
@media(max-width: 930px){
  .intro-slider__title{
    font-size: 40px;
    line-height: 46px;
  }

  .intro-slider__text {
    line-height: 28px;
    max-width: 430px;
  }
  .menu__list{
    position: absolute;
    height: 100vh;
    left: 0;
    top: 0;
    width: 320px;
    padding: 30px 0px;
    flex-direction: column;
    background-color: #24282e;
    padding-left: 30px;
    transform: translateX(-100%);
    transition: all linear 0.5s;
    border-right: 3px solid #e34b11;
    overflow-y: auto;
    &.active{
      transform: translateX(0);
      position: fixed;
    }
  }
  .menu__link{
    color: #fff;
    font-size: 30px;
    margin: 10px 0;
    &.active{
      margin-left: 15px;
    }
  }
  .menu__btn{
    display: block;
    &.active{
      position: relative;
      z-index: 3;
      background-color: transparent;
      &::before{
        transform: rotate(-45deg);
        top: 0;
      }

      &::after{
        transform: rotate(45deg);
        bottom: 0;
      }
    }
  }
}

@media(max-width: 960px){
  .film{
    height: 600px;
  }
  .film__frame{
    padding-top: 78px;
    iframe {
      width: 708px;
      height: 443px;
    }
  }
}

@media(max-width: 890px){
  .film__frame {
    padding-top: 97px;
    iframe{
      width: 648px;
      height: 406px;
    }
  }
}

@media(max-width: 870px){
  .gallery,
  .about,
  .course,
  .teachers,
  .campus,
  .news{
    padding: 40px 0;
  }
  .contect__link{
    display: none;
  }
  .container{
    padding: 0 7px;
  }
}

@media(max-width: 820px){
  .film__frame {
    padding-top: 115px;
    iframe{
      width: 598px;
      height: 375px;
    }
  }
}

@media(max-width: 780px){
  .footer-top__col{
    max-width: 80%;
  }
}

@media(max-width: 750px){
  .film__frame{
    background-image: none !important;
    iframe{
      width: 100%;
      max-width: 100%;

    }
  }
}

@media(max-width: 700px){
  .gallery__item{
    flex-basis: 100%;
    margin: 10px;
  }

  .course__inner{
    justify-content: center;
  }
  .course__item{
    max-width: 500px;
    flex-basis: 100%;
  }

  .intro-slider{
    .slick-prev{
      bottom: 0;
      top: auto;
    }
    .slick-next{
      bottom: 0;
      top: auto;
    }
  }
}
@media(max-width: 650px){
  .news__inner{
    flex-wrap: wrap;
  }
  .accordion{
    margin-right: 0;
    margin-bottom: 30px;
  }
  .teachers__item {
    height: 300px;  
  }
  .news__slider{
    max-width: 100%;
    width: 100%;
  }
  .news__slider-inner{
    margin: 0px;
    max-width: 100%;
  }
  .news__slider-item{
    max-width: 100%;
  }
}
@media(max-width: 600px){
  .footer-top__col{
    max-width: 100%;
  }
  .gallery__btn{
    columns: 2;
    margin-bottom: 30px;
    button{
      margin-bottom: 10px;
      width: 100%;
    }
  }
}


@media(max-width: 540px){
  .film{
    height: 400px;
  }
  .film__frame {
    height: 0;
    padding-top: 0px;
    iframe{
      bottom: 90px;
      height: 300px;
    }
  }
  .title{
    font-size: 45px;
  }
  .about__item{
    flex-basis: 100%;
  }
  .course__item-wrapper {
    padding: 10px;
  }
}

@media(max-width: 500px){
  .teachers__item {
    flex-basis: 100%;  
    margin: 10px;
  }
  .header-top__link.lock{
    font-size: 0px;
    &::before{
      font-size: 20px;
    }
  }
  .intro-slider__title {
    font-size: 26px;
    line-height: 36px;
  }
  .intro-slider__text {
    font-size: 16px;
    text-align: justify;
  }
}



@media(max-width: 410px){
  .campus__item{
    flex-basis: 100%;
    height: 200px;
  }
  .film{
    height: 300px;
  }
  .film__frame {
    iframe{
      height: 200px;
      bottom: 80px;
    }
  }
  .header-top__item{
    display: none;
  }
  .header-top__item:last-child{
    display: block;
  }

  .header-top__link.lock{
    font-size: 16px;
    &::before{
      font-size: 20px;
    }
  }
}
@media(max-width: 350px){
  .footer__social-link{
    width: 41px;
    height: 41px;
  }
  .btn--transparent{
    width: 140px;
  }
  .btn--orange{
    width: 130px;
  }
}