@media(max-width: 1150px){
  .service__inner{
    justify-content: space-around;
  }
  .service__item{
    max-width: 48%;
  }
  .service__item:last-child{
    max-width: 100%;
  }
}
@media(max-width: 1099px){
  .tariffs__item:last-child{
   max-width: 720px;
  }
  .tariffs__item-link{
    max-width: 300px;
  }
}
@media(max-width: 920px){
  .footer{
    background-position: 0px 0px;
    padding-top: 280px;
  }
  .menu__list{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url(../img/intro/intro-bg.jpg);
    transition: all linear 0.5s;
    transform: translateX(-100%);
    border-right: 3px solid #fff;
    &.active{
      transform: translateX(0);
      position: fixed;
    }
  }
  .menu__item:last-child{
    order: -1;
  }
  .menu__item{
    width: 100%;
    + .menu__item{
      margin-left: 0;
    }
  }
  .menu__link{
    font-size: 30px;
    max-width: 280px;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #fff;
  }
  .menu__btn{
    display: block;
  }
}

@media(max-width: 850px){
  .footer-bottom__inner{
    flex-direction: column;
    justify-content: center;
  }
  .social{
    margin-top: 10px;
    margin-right: 0;
  }
  .service,
  .tariffs{
    padding: 40px 0;
  }
  .service__item{
    padding: 20px;
  }
  .product__inner{
    flex-direction: column;
  }
  .product__info{
    max-width: 100%;
  }
  .product__box-text{
    max-width: 700px;
  }
  .product__title {
    margin-bottom: 40px;
  }
  .product_-images{
    img{
      width: 100%;
    }
  }
  .intro__video{
    iframe{
      height: 350px;
    }
  }
}

@media(max-width: 770px){
  .tariffs__item{
    max-width: 100%;
    margin-bottom: 30px;
  }
  .product{
    padding-top: 90px;
    padding-bottom: 40px;
  }
  .title {
    max-width: 540px;
    margin: 0 auto 30px;
    font-size: 40px;
    line-height: 54px;
    margin-top: 40px;
  }
  .intro__video{
    padding-right: 115px;
    padding-left: 115px;
    iframe{
      height: 280px;
    }
  }
}

@media(max-width: 640px){
  .intro__video{
    padding: 0;
    bottom: 0px;
    background-image: none !important;
    min-height: 300px;
    iframe{
      height: 300px;
      width: 100%;
    }
  }
}
@media(max-width: 640px){
  .service__item{
    max-width: 100%;
  }
}
@media(max-width: 525px){
  .title {
    font-size: 32px;
    line-height: 38px;
  }
  .product__info-title {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 15px;
  }
  .service__item-text{
    text-align: justify;
  }
}

@media(max-width: 500px){

  .intro__title{
    font-size: 45px;
    line-height: 50px;
  }
}

@media(max-width: 430px){
  .product__info-title {
    font-size: 30px;
    line-height: 36px;
  }
  .title{
    span{
      margin-bottom: 10px;
      font-size: 25px;
      line-height: 30px;
    }
  }
  .intro__text{
    text-align: justify;
  }
  .intro__title {
    max-width: 540px;
    margin: 0px auto 24px;
    font-size: 40px;
    line-height: 44px;
    margin-top: 70px;
  }
}
@media(max-width: 370px){
  .intro__title{
    font-size: 35px;
    line-height: 40px;
  }
  .intro__video{
    bottom: 40px;
  }
}